ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.active {
    background-color: #130871;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #3e1c6f;
}

div.border {
    color: white;
    font-family: Calibri;
    background-color: #130871;
    margin: auto;
    border-width: 5px;
    border-color: #3e1c6f;
    width: 95%;
    border-radius: 5px;
    padding: 5px;

}
div.content {
    color: #0d0648;
    font-family: Calibri;
    background-color: white;
    margin: auto;
    border-width: 5px;
    border-color: #3e1c6f;
    border-radius: 5px;
    padding: 5px;
}
a:visited {
    text-decoration: none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}